#puzzle-container {
    border: 1px solid black;
    padding: 20px;
    float: left;
    margin: 30px 20px;
    margin-left: 34%;
}

#puzzle-container div {
    width: 100%;
    margin: 0 auto;

}
/* style for each square in the puzzle */

#puzzle-container .puzzleSquare {
    height: 40px;
    width: 40px;
    text-transform: uppercase;
    background-color: white;
    border: 0;
    font: 1.2em sans-serif;
}

#puzzle-container button::-moz-focus-inner {
    border: 0;
}
/* indicates when a square has been selected */

#puzzle-container .selected {
    background-color: orange;
}
/* indicates that the square is part of a word that has been found */

#puzzle-container .found {
    background-color: #0074d9;
    color: white;
}

#puzzle-container .solved {
    background-color: purple;
    color: white;
}
/* indicates that all words have been found */

#puzzle-container .complete {
    background-color: green;
}
/**
* Styles for the word list
*/

#puzzle-words {
    padding-top: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    width: 300px;
}

#puzzle-words ul {
    list-style-type: none;
}

#puzzle-words li {
    padding: 3px 0;
    font: 1em sans-serif;
}
/* indicates that the word has been found */

#puzzle-words .wordFound {
    text-decoration: line-through;
    color: gray;
}
/**
* Styles for the button
*/

#solve {
    margin: 0 30px;
}
